<div class="post">

  <ion-item lines="none">

    <!-- avatar e info -->

    <ion-avatar slot="start">
      <img 
        [src]="'/assets/avatars/' + post.usuario.avatar" 
        alt="avatar"
      >
    </ion-avatar>

    <ion-label>

      <h3>
        {{ post.usuario.nombre }}
      </h3>

      <h5>
        {{ post.usuario.email }}
      </h5>

    </ion-label>

  </ion-item>

  <!-- imagenes -->

  <ion-slides pager="true">

    <ion-slide>

      <img 
        src="/assets/perro-1.jpg" 
        alt="slide-img"
      >

    </ion-slide>

    <ion-slide>

      <img 
        src="/assets/perro-2.jpg" 
        alt="slide-img"
      >

    </ion-slide>

    <ion-slide>

      <img 
        src="/assets/perro-3.jpg" 
        alt="slide-img"
      >

    </ion-slide>

  </ion-slides>

  <!-- mapa -->

  <ion-item lines="none">

    <ion-icon 
      slot="start" 
      name="heart-outline"
    >
    </ion-icon>

    <ion-icon 
      slot="end" 
      name="bookmark"
    >
    </ion-icon>
    
  </ion-item>

  <ion-item lines="none">
    <ion-label class="ion-text-wrap">
      {{ post.mensaje }}
    </ion-label>
  </ion-item>

</div>
